<header style="position: fixed; z-index: 1; width: 100%;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand "style="color:#1b4d86;!important" href="/admin">Admin Panel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link "style="color: #1b4d86;!important" href="/admin">All Products <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link "style="color: #1b4d86;!important" href="/admin/all-order">All Orders</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link "style="color:#1b4d86;!important"href="/admin/all-user">All users</a>
                </li>
               
            </ul>
           
            {{#if admin_details}}
            
            <a style="background-color: #1b4d86!important; color:#ffffff;" class="btn   my-2 my-sm-0 ml-2" href="/admin/logout">Logout</a>
            {{/if}}
        </div>
    </nav>
</header>
<div style="height: 60px; z-index: 0;"></div>