<link rel="stylesheet" href="/stylesheets/owl.carousel.min.css">
<section>

    <div class="container  mb-4" style="max-width: 100%; padding-left: 1%; padding-right: 1%; ">
        <div style="  margin:0 auto ;" class="col-xl-11 mt-4 ">
            <a href="/login">
                <img style="width: 100%;" src="/images/banner.webp" alt=""></a>

        </div>
        <div class="row">
            <h1 class="text-center col-xl-12" style="color: #e372a7;"><b>CRAZY DEALS</b></h1>
            <h3 class="text-center col-xl-12">Mad Discounts This Way</h3>
        </div>
        <div class=" row ">


            <div class="col-xl-2 col-md-4 col-sm-6  mt-2 mb-4 ">
                <a href="/deals/Shirt/599"><img src="/images/shirt.webp" alt=""></a>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-6  mt-2 mb-4 ">
                <a href="/deals/Shoes/1499"><img src="/images/shoes.webp" alt=""></a>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-6  mt-2 mb-4 ">
                <a href="/deals/Tshirt/399"><img src="/images/tshirt.webp" alt=""></a>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-6  mt-2 mb-4 ">
                <a href="/deals/Kurta/599"><img src="/images/kurtas.webp" alt=""></a>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-6  mt-2 mb-4 ">
                <a href="/deals/kids/899"><img src="/images/kid.webp" alt=""></a>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-6  mt-2 mb-4 ">
                <a href="/deals/Jeans/899"><img src="/images/jean.webp" alt=""></a>
            </div>
        </div>
        <div class="row">
            <h1 style="color: #e372a7;" class="text-center col-xl-12"><b>TRENDS</b></h1>

        </div>
        <div class="row">

            <div class="owl-carousel">
                <div> <img style="width: 100% ;height: 450px;" src="/images/1.jpg" alt=""> </div>
                <div> <img style="width: 100%;height: 450px;" src="/images/2.jpg" alt=""> </div>
                <div> <img style="width: 100%;height: 450px;" src="/images/3.jpg" alt=""> </div>
                <div> <img style="width: 100%;height: 450px;" src="/images/4.jpg" alt=""> </div>
                <div> <img style="width: 100%;height: 450px;" src="/images/5.jpg" alt=""> </div>
                <div> <img style="width: 100%;height: 450px;" src="/images/6.jpg" alt=""></div>
                <div> <img style="width: 100%;height: 450px;" src="/images/7.jpg" alt=""></div>
                <div> <img style="width: 100%;height: 450px;" src="/images/8.jpg" alt=""></div>

            </div>

        </div>



    </div>
</section>
<footer style="background-color: #19497f;">


    <div class="row">

    </div>
    <div class="col-xl-11 pt-2" style="display: flex ;margin:0 auto; justify-content: space-between;">
        <a class="col-xl-2 " style="color: #9fadc1;" href="/admin">Login As Admin</a>

        <p class="col-xl-6" style="color: #9fadc1;">2023 ©FASIONOVA Property-All rights reserved-<a
                style="color: #2bd29a" href="">Privacy Policy</a>v1.16</p>

        <div class="col-xl-1">
            <ul style="display: flex;justify-content: space-between; list-style: none;">
                <li>
                    <a href=""><img style="display: block;width:40px; height: 25px; mr-4" src="/images/facebook.svg"
                            alt="facebook"></a>
                </li>
                <li>
                    <a href=""><img style="display: block;width:40px; height: 25px;" src="/images/twitter.svg"
                            alt="twitter"></a>
                </li>
            </ul>
        </div>
    </div>
</footer>